/* https://css-tricks.com/stripes-css/ */

body 	{
	margin: auto;
	font-family: 'Roboto', sans-serif;

background: repeating-linear-gradient(
  -45deg,
  #FF7F33,
/*  #606dbc 200px, */
  #FF7F33 200px,
  #33EEFF 200px,
/*  #465298 400px  */
  #ff1a1a 200px,
  #33EEFF 400px
);
	}

h1 	{
  	color:white;
  	text-align: center;
	}

